.git
.gitignore
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.swp
**/*.swo
**/.pytest_cache/
**/.mypy_cache/
**/.cache/
**/.vscode/
**/.idea/
build/
install/
log/
.colcon/
venv/
.venv/
node_modules/
dist/
tmp/
*.bag
*.log
.DS_Store


